.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* responsive */
@media screen and (min-width: 0px) {
  .eye_box p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top:20%;
    left:18%;
    transform: translate(-50%,-50%);
    padding:10%;
    margin:10%;
    font-size:3rem;
    color: white;
    text-align: left;
   }
}

/* responsive */
@media screen and (min-width: 480px) {
  .eye_box p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top:20%;
    left:15%;
    transform: translate(-50%,-50%);
    padding:10%;
    margin:10%;
    font-size:4rem;
    color: white;
    text-align: left;
   }
}

/* tablet */
@media screen and (min-width: 768px)  {
  .eye_box p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top:25%;
    left:10%;
    transform: translate(-50%,-50%);
    padding:10%;
    margin:10%;
    font-size:5rem;
    color: white;
    text-align: left;
   }
}

/* pc */
@media screen and (min-width: 1024px) {
  .eye_box p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top:15%;
    left:5%;
    transform: translate(-50%,-50%);
    padding:10%;
    margin:10%;
    font-size:5rem;
    color: white;
    text-align: left;
   }
}

/* pc */
@media screen and (min-width: 2560px) {
  .eye_box p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top:-15%;
    left:5%;
    transform: translate(-50%,-50%);
    padding:10%;
    margin:10%;
    font-size:5rem;
    color: white;
    text-align: left;
   }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Card_size{
  padding: 1%;
  text-align: left;
	display: inline-block;
 }
 
 .fold{
     display: flex;
     justify-content: space-around;
     flex-direction: row;
     flex-wrap: wrap;
 }

 .icon_text {
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px; /* 画像の配置場所を確保 */
  background-image: url(https://firebasestorage.googleapis.com/v0/b/mmmm-56c1c.appspot.com/o/img%2Fpet.png?alt=media&token=24ec53fc-e280-499f-91a9-02da5e60a7c1); /* 画像URLを指定 */
  background-position: left center; /* 画像の位置 */
  background-size: 50px 50px; /* 画像のサイズ */
  background-repeat: no-repeat; /* 背景画像の繰り返しなくす */
 }

 .eye_box { 
   position: relative;
 }

.buble{
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #edf2f6;
}

.buble::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #edf2f6;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
